[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
flask = "*"
pymusic-dl = "*"
python-dotenv = "*"
gunicorn = "*"
urllib3 = ">=1.24.2"
Jinja2 = ">=2.10.1"
qqmusic-api = "*"
redis = "*"

[requires]
python_version = "3.7"
